# Introdction to Python

Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0 Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.

Data Types in Python :

* Integer
* Float Int
* String
* Lists
* Dictionaries
* Tuples
* Sets
* Boolean

## Numbers

In [3]:
print(2 + 1) # add
print(2 - 2) # subtract
print(3 * 45) # multiply
print(7 / 4) # divide
print(7 % 4) # modulo
print(2 ** 4) # powe

3
0
135
1.75
3
16

## Strings

__Properties :__

* Sequence of characters.
* Slicing Supported.
* Indexing Supported.
* Immutable.

In [4]:
my_string = "sharanyaD"

In [8]:
my_string = my_string.strip("D")

In [9]:
my_string[3]

'r'

In [10]:
my_string[3:]

'ranya'

In [12]:
my_string[::-1] # reverse a string

'aynarahs'

In [18]:
my_string + " DOddamani"

'sharanya DOddamani'

In [16]:
"m" * 10 # multiply numbers

'mmmmmmmmmm'

In [17]:
my_string.upper() # upper case ; for lower use .lower()

'SHARANYA'

In [19]:
my_string.split("a")

['sh', 'r', 'ny', '']

In [20]:
print("my name is "+ my_string)

my name is sharanya

In [75]:
q = "quick"
b = "brown"
f = "fox"

In [76]:
print(f"the {q} {b} {f} is not {my_string}")

the quick brown fox is not sharanya

In [78]:
# print using precision of floating point numbers
result = 100/777
print(f"Answer : {result:.3f}")

Answer : 0.129

## Lists

__Properties :__

* __Ordered sequences__ that can hold a variety of objects (hetrogeneous).
* Indexing Supported.
* Slicing Supported.
* Mutable.

In [27]:
my_list = [1,2,3]
new_list = ['string', 100, 20.3]

In [28]:
# length of list
len(new_list)

3

In [29]:
new_list[1:]

[100, 20.3]

In [33]:
# concatenate two lists
my_list + new_list

['string', 100, 20.3, 'string', 100, 20.3]

In [34]:
my_list[0]

'string'

In [35]:
#append operation
new_list.append(True)

In [36]:
# delete from end
my_list.pop()

True

In [37]:
#delete from any index
new_list.pop(1)

100

In [38]:
# insert element at any index
new_list.insert(1,100) # first parameter is the index, second parameter is the value/element to be inserted

In [45]:
# sort a list
num_list = [44,1,36,22,3,40,112,3]
num_list.sort()
print(num_list)

[1, 3, 3, 22, 36, 40, 44, 112]

In [46]:
# reverse a list
num_list.reverse()
print(num_list)

[112, 44, 40, 36, 22, 3, 3, 1]

## Dictionaries

__Properties :__

* __Unordered mappings__ for storing objects. Dictionaries use __Key-Value__ pairings for storing elements.
* Can access values without even knowing their indexes; accessing using the respective key.

__{ key1 : value1, key2 : value2 }__

In [51]:
price_lookup = { 'apple': 220, 'oranges' : 160, 'milk' : 19 }

In [79]:
price_lookup['oranges']

160

In [83]:
# homogeneous dictionary
# How to access values?

d = {'k1':123, 'k2':[0,1,2,[55,1128,4000],3], 'k3': {'insideKey':100}, 'k4': True}

# find value of insideKey
print(d['k3']['insideKey'])

# print the value 4000
print(d['k2'][3][2])

100
4000

In [89]:
dd = {'k1':123, 'k2': [0,1,2,{'k6':[55,{'k8':[1128,[21,4000]]}]},3] , 'k3': {'insideKey':100}, 'k4': True}

# find the value 21
dd['k2'][3]['k6'][1]['k8'][1][0]

21

In [54]:
# add new key and value
d['k5'] = 'Sharanya'

In [55]:
d

{'k1': 123,
 'k2': [0, 1, 2, [55, 1128, 4000], 3],
 'k3': {'insideKey': 100},
 'k4': True,
 'k5': 'Sharanya'}

In [56]:
# overwrite a value
d['k4'] = False

In [57]:
# display all keys
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4', 'k5'])

In [58]:
# display all values
d.values()

dict_values([123, [0, 1, 2, [55, 1128, 4000], 3], {'insideKey': 100}, False, 'Sharanya'])

In [59]:
# diaplay all items
d.items()

dict_items([('k1', 123), ('k2', [0, 1, 2, [55, 1128, 4000], 3]), ('k3', {'insideKey': 100}), ('k4', False), ('k5', 'Sharanya')])

## Tuples

__Properties :__

* Similar to lists. Except the fact they are __immutable__; once the value is assigned they can't be changed/reassigned.

In [63]:
t = (1,1,1,1,2,2,3,3,3)

In [64]:
t.count(1)

4

In [65]:
# first time the element occurs
t.index(2)

4

## Sets

__Properties :__

* __Unordered__ collection of __unique elements__; there can be only one representative of the same object.

In [66]:
my_set = set() # initialise a set

In [67]:
my_set.add(1)

In [68]:
my_set.add(2)

In [69]:
my_set.add(1)

In [70]:
my_set

{1, 2}

In [71]:
# say you want to find unique elements in ana array; easiest method is to convert it into set.
arr = [1,43,1,43,6,77,7,33,33,5,5,5,5,7,3,33,33]
set(arr)

{1, 3, 5, 6, 7, 33, 43, 77}

## Boolean

__Properties :__

* Boolean are operators that allows yo to convey True or False statements
* Deals with control flow and logic.

In [72]:
type(True)

bool

In [90]:
1 > 2

False